@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h4>@ViewData["Title"]</h4>

<p>Unless this "web" application is published to a server or setup to be accessible over the Internet, the data that is processed by the web application never leaves your computer. Except for the import files and output PDF, no data is intentionally saved for later use.</p>
<p></p>
